
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <%profile = ["email", "username", "pin", "website", "address"]%>

    <%profile.each do |v|%>
     <label for="<%=v%>"><%=v%></label>
     <input type="text" name="<%=v%>" id ="<%=v%>" class="fancy_form">
    <%end%>

  </body>
</html>
